button {
  cursor: pointer;
  background: linear-gradient(to bottom right, orange, #ff7c4e);
}

button:active {
  transform: scale(0.99);
  transition: transform 0.3s 0;
}

button:hover {
  box-shadow: 0 4px 8px rgba(255, 80, 0, 0.3);
}
