<section class="wide-card rounded dark-text center-flex">
  <div>
    <h2 *ngIf="!editMode">{{ showing.film.title }}</h2>
    <select *ngIf="editMode" [(ngModel)]="showing.film.id">
      <option *ngFor="let film of films" [ngValue]="film.id">
        {{ film?.title }}
      </option>
    </select>
    <select *ngIf="editMode" [(ngModel)]="showing.theatre.id">
      <option *ngFor="let theatre of theatres" [ngValue]="theatre.id">
        {{ "Theatre: " + theatre?.id + " " + theatre?.seatingText }}
      </option>
    </select>
    <div *ngIf="!manager">
      <button
        class="rounded small-button orange-button"
        [routerLink]="['/buy-tickets/', showing.id]"
      >
        Buy Tickets
      </button>
    </div>
    <div *ngIf="manager">
      <button
        class="rounded small-button orange-button"
        (click)="editSave(showing)"
      >
        {{ editMode ? "Save" : "Edit" }}
      </button>
      <button
        id="delete-button"
        class="rounded small-button"
        (click)="deleteShowing(showing)"
      >
        Delete
      </button>
    </div>
  </div>
  <div>
    <span>{{ "Director: " + showing?.film.director }}</span>
    <span>{{ "Starring: " + showing.film.star }}</span>
  </div>
  <div>
    <span *ngIf="!editMode">{{ showing?.time | time }}</span>
    <input
      *ngIf="editMode"
      type="time"
      [(ngModel)]="showing.time"
      value="{{ showing.time }}"
    />
    <span>{{ "Running Time: " + showing?.film.runTime }}</span>
    <span>{{ "Rated: " + showing?.film.rating }}</span>
    <span>{{ "Genre: " + showing?.film.genre }}</span>
  </div>
</section>
