<form class="rounded" [formGroup]="addShowingForm">
  <h1 class="dark-text">Add Showing</h1>
  <label for="film" class="dark-text">Film to be shown:</label>
  <select id="film" formControlName="film">
    <option *ngFor="let film of films" [ngValue]="film.id">
      {{ film?.title }}
    </option>
  </select>
  <label for="theatreId" class="dark-text"
    >Theatre where it will be shown:</label
  >
  <select id="theatreId" formControlName="theatreId">
    <option *ngFor="let theatre of theatres" [ngValue]="theatre?.id">
      {{ "Theatre: " + theatre?.id + " " + theatre?.seatingText }}
    </option>
  </select>

  <button class="cta rounded small-button" (click)="addShowing()">
    Add Showing
  </button>
</form>
