<form
  class="rounded"
  [formGroup]="addShowingForm"
  (ngSubmit)="onSubmit(addShowingForm.value)"
>
  <h1 class="dark-text">Add Showing</h1>
  <label for="film" class="dark-text">Film to be shown:</label>
  <select required name="film" formControlName="film">
    <option *ngFor="let film of films" [ngValue]="film.id">
      {{ film?.title }}
    </option>
  </select>
  <label for="theatre" class="dark-text">Theatre where it will be shown:</label>
  <select required name="theatre" formControlName="theatre">
    <option *ngFor="let theatre of theatres" [ngValue]="theatre?.id">
      {{ "Theatre: " + theatre?.id + " " + theatre?.seatingText }}
    </option>
  </select>
  <label for="time" class="dark-text">Time of showing:</label>
  <input required type="time" name="time" formControlName="time" />
  <button
    class="cta rounded small-button primary-color"
    [disabled]="
      !addShowingForm.get('time').value ||
      !addShowingForm.get('theatre').value ||
      !addShowingForm.get('film').value
    "
  >
    Add Showing
  </button>
</form>
