// CSS Reset
body,
html {
  margin: 0;
  background-color: #282828;
  font-size: 14px;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

// Color Variables
$cinema-orange: #ff7c4e;

// Classes
.dark-text {
  color: #282828;
}

.wide-card {
  width: 60vw;
  height: 20vh;
  border: none;
  border-radius: 4px;
  margin: 4vh;
}
