// CSS Reset
body,
html {
  margin: 0;
  background-color: #282828;
  font-size: 14px;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Color Variables
$cinema-orange: #ff7c4e;
$cta-teal: #33ff7e;

// Classes
.dark-text {
  color: #282828;
  text-shadow: 0 1px 1px rgba(155, 155, 155, .5);
}

.wide-card {
  width: 50vw;
  height: 15vh;
  margin: 4vh;
}

.rounded {
  border: none;
  border-radius: 4px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-button {
  height: 40px;
  margin-left: 1vw;
  padding: 4px 12px;
}

button {
  cursor: pointer;
  background: linear-gradient(to bottom right, orange, #ff7c4e);
  box-shadow: 0 1px 2px rgba(220, 220, 220, 0.2);
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 0 4px 2px rgba(255, 80, 0, 0.5);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  background-image: none;
  color: #666666;
}
button:disabled:hover {
  box-shadow: none;
}

input,
select {
  height: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}