// CSS Reset
html,
body {
  margin: 0;
}

body {
  background-color: #282828;
  font-size: 14px;
  color: #dddddd;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

main {
  padding: 2vw;
  align-items: center;
}

// Classes
.dark-text {
  color: #282828;
  text-shadow: 0 1px 1px rgba(155, 155, 155, 0.5);
}

.card {
  width: 50vw;
  height: 15vh;
  margin: 4vh;
}

.rounded {
  border: none;
  border-radius: 4px;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-button {
  height: 40px;
  margin-left: 1vw;
  padding: 4px 12px;
}

.secondary-color {
  background: linear-gradient(to top left, dodgerblue, #1ec8ff);
  &:hover {
    box-shadow: 0 0 4px 4px rgba(12, 78, 100, 1);
  }
}

.primary-color {
  background: linear-gradient(to bottom right, orange, #ff7c4e);
  &:hover {
    box-shadow: 0 0 4px 2px rgba(255, 80, 0, 0.5);
  }
}

.warning-color {
  background: linear-gradient(to top left, #cc0000, #ff7c4e);
  &:hover {
    box-shadow: 0 0 4px 2px rgba(255, 0, 0, 0.5);
  }
}

// Global button styles
button {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(220, 220, 220, 0.2);
  &:focus {
    outline: none;
  }
  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    background-image: none;
    color: #666666;
    cursor: default;
  }
  &:disabled:hover {
    box-shadow: none;
  }
}

// Global input and select styles
input,
select {
  height: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

// Global form styles
form {
  padding: 40px;
  background-color: #b3b3b3;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  h1 {
    font-size: 2em;
    margin: 0;
  }
  label {
    margin-top: 20px;
    margin-bottom: 2px;
  }
  button {
    margin: 24px 0 auto;
  }
  input,
  select {
    width: 100%;
  }
}

// Testing responsive styling
// This setting holds up until the screen is 324
@media only screen and (max-width: 866px) {
  body {
    font-size: 12px;
  }
  header {
    h1 {
      margin: 0 !important;
    }
    height: fit-content !important;
    flex-direction: column;
    padding: 2vh 0 !important;
    nav {
      button {
        margin: 1vh;
        width: 60vw;
      }
      display: flex;
      flex-direction: column !important;
    }
  }
  main {
    margin: 0 !important;
    padding: 0 !important;
  }
  .card {
    width: 80vw;
    margin: 4vh 0 !important;
  }
  cin-film {
    section {
      width: 80vw !important;
      height: 40vh !important;
    }
  }
  cin-add-showing {
    form {
      font-size: 1.5em;
      width: 54vw !important;
    }
  }

  cin-showing-details {
    section {
      flex-direction: column !important;
      width: 70vw !important;
    }
    div {
      width: 70vw !important;
    }
  }
  cin-seat {
    margin: 4px !important;
    border-bottom: 2px !important;
    td {
      font-size: 10px !important;
      width: 20px !important;
      height: 20px !important;
    }
  }
}

// @media only screen and (max-width: 866px) {
//   body {
//     font-size: 10px !important;
//     width: 100% !important;
//   }
//   form {
//     width: 60vw !important;
//   }
//   main {
//     width: 100% !important;
//   }
//   cin-header {
//     width: 100% !important;
//   }
//   input,
//   select {
//     width: 100% !important;
//   }
// }
