<header>
  <H1 [routerLink]="['']">Angular Cinema {{ subtitle }}</H1>
  <nav>
    <button class="rounded small-button orange-button" [routerLink]="['']">
      Home
    </button>
    <button
      class="rounded small-button orange-button"
      [routerLink]="['management-tools']"
    >
      Manager Tools
    </button>
    <button class="rounded small-button blue-button" [routerLink]="['']">
      Sign In
    </button>
    <button class="rounded small-button blue-button" [routerLink]="['']">
      Register
    </button>
  </nav>
</header>
