header {
  background-color: #353535;
  position: sticky;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  h1 {
    margin: 0;
    margin-left: 10vw;
    font-size: 2.5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  button {
    height: 40px;
    margin: 0 1vw;
    padding: 4px 12px;
  }
}
