<header>
  <H1 [routerLink]="['']">Angular Cinema {{ subtitle }}</H1>
  <nav>
    <button class="rounded small-button primary-color" [routerLink]="['']">
      Home
    </button>
    <button
      class="rounded small-button primary-color"
      [routerLink]="['management-tools']"
    >
      Manager Tools
    </button>
    <button
      class="rounded small-button secondary-color"
      [routerLink]="['sign-in']"
    >
      {{ this.currentUser ? "Sign Out" : "Sign In" }}
    </button>
    <button
      class="rounded small-button secondary-color"
      [routerLink]="['register']"
    >
      Register
    </button>
  </nav>
</header>
