header {
  background-color: #353535;
  position: sticky;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  margin-left: 10vw;
  font-size: 2.5em;
}
